<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <div class="section-tittle text-center">
                    <span>Notificaçôes de atendimento dos clientes</span>
                    <h2>Notificaçôes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>Beach Park</h2>
                            </a>
                            <p><i class="fa"></i> Status: <output name="guia">Pendente</output></p>
                            <p><i class="fa fa-calendar"></i> Data: <output name="data">25/04/2021</output></p>
                            <p><i class="fa fa-user" aria-hidden="true"></i> Nome do Cliente: <output name="duracao">João</output></p>
                            <p><i class="fa fa-map"></i> Tipo de Passeio: <output name="tipoPasseio">Fixo</output></p>
                            <a href="#" class="btn border-btn">Aceitar</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog_area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-tittle text-center">
                  <span></span>
                  <h2>Agendamentos</h2>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="blog_left_sidebar">

                  <article class="blog_item">
                      <div class="blog_item_img">
                          <a href="#" class="blog_item_date">
                              <h3>15</h3>
                              <p>Jan</p>
                          </a>
                      </div>

                      <div class="blog_details">
                          <a class="d-inline-block" href="single-blog.html">
                              <h2>A lagoa Azul</h2>
                          </a>
                          <ul>
                              <li>
                                  <i class="fa fa-user" aria-hidden="true"></i> Clientes:
                                  <ul>
                                      <li>
                                          <output name="tipoPasseio">- João</output>
                                      </li>

                                      <li>
                                          <output name="tipoPasseio">- Amanda</output>
                                      </li>
                                    </ul>
                              </li>
                              <li>
                                  <i class="fa fa-map"></i> Tipo de Passeio: <output name="tipoPasseio">Personalizado</output>
                              </li>

                              <li>
                                  <i class="fa fa-map"></i> status: <output name="tipoPasseio">Pendente</output>
                              </li>
                            </ul>
                      </div>
                  </article>
          </div>
          </div>
      </div>
      </div>
</section>
