
<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
       [ngStyle]="{backgroundImage:'url(../../assets/img/hero/contact_hero.jpg)'}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Meus Passeios</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!--================passeios Area =================-->
<section class="blog_area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <h4><span>Wanderlusteiro(a)</span></h4>
          <h2>Divirta-se com suas viagens!</h2>
        </div>
      </div>
    </div>
    <form  id="passeiosForm">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">
            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img rounded-0" src="assets/img/blog/jeri.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3><output name="dia">25</output></h3>
                  <p><output name="mes">Abr</output></p>
                </a>
              </div>

              <div class="blog_details">
                <a class="d-inline-block" href="detalhe-passeios-cliente.html">
                  <h2><output name="cidade"></output></h2>
                </a>
                <p><i class="fa fa-calendar"></i> Data: <output name="data"></output></p>
                <p><i class="fa fa-user"></i> Guia contratado(a): <output name="guia"></output></p>
                <p><i class="fa fa-globe" aria-hidden="true"></i> Roteiro: <output name="roteiro"></output></p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img rounded-0" src="assets/img/blog/chapada-das-mesas.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3><output name="dia">10</output></h3>
                  <p><output name="mes">Out</output></p>
                </a>
              </div>

              <div class="blog_details">
                <a class="d-inline-block" href="detalhe-passeios.html">
                  <h2><output name="cidade"></output></h2>
                </a>
                <p><i class="fa fa-calendar"></i> Data:<output name="data"></output></p>
                <p><i class="fa fa-user"></i> Guia contratado: <output name="guia"></output></p>
                <p><i class="fa fa-globe" aria-hidden="true"></i> Roteiro: <output name="roteiro"></output></p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </form>
    <div class="col-lg-8 mb-5 mb-lg-0">
      <a href="passeios-anteriores.html">
        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                type="submit">Antigas Trips</button>
      </a>
    </div>
  </div>
</section>
