
<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
       [ngStyle]="{backgroundImage:'url(../../assets/img/hero/contact_hero.jpg)'}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Perfil</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!-- ================ perfil guia start ================= -->
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <h4><span>Hey, Guia</span></h4>
          <h2>Minhas Infos </h2>
        </div>
        <form  method="post" id="perfil" novalidate="novalidate">
          <div class="col-lg-12" align="text-center">
            <div class="row">
              <div class="col-lg-6 offset-lg-12">
                <div class="form-group">
                  <p><i class="fa fa-address-card" aria-hidden="true"></i> Nome
                    <output class="form-control w-100" name="nome" id="nome"></output>
                </div>
              </div>
              <div class="col-lg-6 offset-lg-12">
                <div class="form-group">
                  <p><i class="fa fa-address-card" aria-hidden="true"></i> Sobrenome
                    <output class="form-control w-100" name="sobrenome" id="sobrenome"></output>
                </div>
              </div>
              <div class="col-md-4 offset-lg-12">
                <div class="form-group">
                  <p><i class="fa fa-birthday-cake" aria-hidden="true"></i> Data Nascimento
                    <output class="form-control" name="dataNasc" id="dataNasc"></output>
                </div>
              </div>
              <div class="col-md-4 offset-lg-12">
                <div class="form-group">
                  <p><i class="fa fa-globe" aria-hidden="true"></i> Cidade
                    <output class="form-control" name="cidade" id="cidade"></output>
                </div>
              </div>
              <div class="col-md-4 offset-lg-12">
                <div class="form-group">
                  <p><i class="fa fa-phone" aria-hidden="true"></i> Telefone
                    <output class="form-control" name="telefone" id="telefone"></output>
                </div>
              </div>
              <div class="col-lg-6 offset-lg-12">
                <div class="form-group">
                  <p><i class="fa fa-info" aria-hidden="true"></i> Nr. Cadastur
                    <output class="form-control w-100" name="cadastur" id="cadastur"></output>
                </div>
              </div>
              <div class="col-lg-6 offset-lg-12">
                <div class="form-group">
                  <p><i class="fa fa-envelope" aria-hidden="true"></i> E-mail
                    <output class="form-control w-100" name="email" id="email"></output>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ================perfil guia end ================= -->
