<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center"
            [ngStyle]="{backgroundImage:'url(../../assets/img/hero/home_banner.jpg)'}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="hero__caption">
                                <h1>Monte <span>Seu Roteiro!</span></h1>
                                <p>Aonde você gostaria de ir?</p>
                            </div>
                        </div>
                    </div>
                    <!-- form -->
                    <form action="#" class="search-box">
                        <div class="input-form mb-10">
                            <input type="text" id="ondeIr" placeholder="Digite o Destino" style="height:55px;width:410px;">
                        </div>

                        <div class="row" class="input-form mb-10">
                            <div class="col">
                                <div class="p-3 mb-2 bg-gradient-primary text-white">Data Inícial</div>
                                <input name="calInicio" type="date" id="dataInicial" class="form-control" placeholder="DD/MM/AAAA" style="height:60px;width:190px;">
                            </div>
                            <div class="col">
                                <div class="p-3 mb-2 bg-gradient-primary text-white">Data Final</div>
                                <input name="calInicio" type="date" id="dataFinal" class="form-control" placeholder="DD/MM/AAAA" style="height:60px;width:190px;">
                            </div>

                            <div class="col">
                                <select name="select" id="selectPessoas" >
                                    <option value="">Pessoas</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4 ou +</option>
                                </select>
                            </div>

                            <div class="col">
                                <select name="select" id="select1" >
                                    <option value="">Roteiro Fixo</option>
                                    <option value="">Roteiro Personalizado</option>
                                </select>
                            </div>

                            <div class="col" class="button-group-area mt-30">
                                <a href="lista-guia.html" class="genric-btn danger circle">Buscar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
</main>