<main>
  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center"
         [ngStyle]="{backgroundImage:'url(../../assets/img/hero/contact_hero.jpg)'}">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Nossos Guias</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider Area End-->
  <!-- Lista GUia Start -->
  <div class="favourite-place place-padding">
    <div class="container">
      <!-- Section Tittle -->
      <div class="row">
        <div class="col-lg-12">
          <div class="section-tittle text-center">
            <h4><span>Wanderlusteiro(a)</span></h4>
            <h2>Aqui estão alguns guias!</h2>
          </div>
        </div>
      </div>
      <form method="get">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-place mb-30">
              <div class="place-img">
                <img src="assets/img/service/guia7.jpg" alt="">
              </div>
              <div class="place-cap">
                <div class="place-cap-top">
                                    <span><i class="fas fa-star"></i>
                                        <output name="avaliacao"><span>9.6 Incrível</span></output> </span>
                  <h3><output name="nome"><a href="detalhe-guia.html"> Maria Tereza Buarque</a></output></h3>
                  <p class="dolor">A partir de R$<output name="valor">250</output></p>
                </div>
                <div class="place-cap-bottom">
                  <ul>
                    <li><i class="fas fa-map-marker-alt"></i><output name="cidade">Jericoacoara</output></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-place mb-30">
              <div class="place-img">
                <img src="assets/img/service/guia8.png" alt="">
              </div>
              <div class="place-cap">
                <div class="place-cap-top">
                                    <span><i class="fas fa-star"></i>
                                    <output name="avaliacao"><span>9.0 Incrível</span></output> </span>
                  <h3><output name="nome"><a href="detalhe-guia.html">Felipe Souza Trindade</a></output></h3>
                  <p class="dolor">A partir de R$<output name="valor">220</output></p>
                </div>
                <div class="place-cap-bottom">
                  <ul>
                    <li><i class="fas fa-map-marker-alt"></i><output name="cidade">Jericoacoara</output></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-place mb-30">
              <div class="place-img">
                <img src="assets/img/service/guia1.png" alt="">
              </div>
              <div class="place-cap">
                <div class="place-cap-top">
                                    <span><i class="fas fa-star"></i>
                                    <output name="avaliacao"><span>8.8 Ótimo</span></output> </span>
                  <h3><output name="nome"><a href="detalhe-guia.html">Laura Castilho</a></output></h3>
                  <p class="dolor">A partir de R$<output name="valor">180</output></p>
                </div>
                <div class="place-cap-bottom">
                  <ul>
                    <li><i class="fas fa-map-marker-alt"></i><output name="cidade">Jericoacoara</output></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-place mb-30">
              <div class="place-img">
                <img src="assets/img/service/guia10.jpg" alt="">
              </div>
              <div class="place-cap">
                <div class="place-cap-top">
                                    <span><i class="fas fa-star"></i>
                                    <output name="avaliacao"><span>9.2 Incrível</span></output> </span>
                  <h3><output name="nome"><a href="detalhe-guia.html">Gabriel de Oliveira</a></output></h3>
                  <p class="dolor">A partir de R$<output name="valor">210</output></p>
                </div>
                <div class="place-cap-bottom">
                  <ul>
                    <li><i class="fas fa-map-marker-alt"></i><output name="cidade">Jericoacoara</output></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-place mb-30">
              <div class="place-img">
                <img src="assets/img/service/guia11.jpg" alt="">
              </div>
              <div class="place-cap">
                <div class="place-cap-top">
                                   <span><i class="fas fa-star"></i>
                                    <output name="avaliacao"><span>8.8 Ótimo</span></output> </span>
                  <h3><output name="nome"><a href="detalhe-guia.html">Juliana Silva Santana</a></output></h3>
                  <p class="dolor">A partir de R$<output name="valor">R$185</output></p>
                </div>
                <div class="place-cap-bottom">
                  <ul>
                    <li><i class="fas fa-map-marker-alt"></i><output name="cidade">Jericoacoara</output></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-place mb-30">
              <div class="place-img">
                <img src="assets/img/service/guia9.jpg" alt="">
              </div>
              <div class="place-cap">
                <div class="place-cap-top">
                                     <span><i class="fas fa-star"></i>
                                    <output name="avaliacao"><span>8.0 Muito Bom</span></output> </span>
                  <h3><output name="nome"><a href="detalhe-guia.html">João Medeiros da Costa</a></output></h3>
                  <p class="dolor">A partir de R$<output name="valor">R$160</output></p>
                </div>
                <div class="place-cap-bottom">
                  <ul>
                    <li><i class="fas fa-map-marker-alt"></i><output name="cidade">Jericoacoara</output></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Lista Guias End -->

  <!-- Pagination-area Start -->
  <div class="pagination-area pb-100 text-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="single-wrap d-flex justify-content-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-start">
                <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow roted left-arrow"></span></a></li>
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow right-arrow"></span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination-area End -->
</main>
