
<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
       [ngStyle]="{backgroundImage:'url(../../assets/img/hero/contact_hero.jpg)'}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Próxima trip!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!--================Detalhe passeios cliente Area =================-->
<section class="blog_area single-post-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <h4><span>Wanderlusteiro(a)</span></h4>
          <h2>Aqui encontram-se os detalhes do seu passeio!</h2>
        </div>
      </div>
      <form [formGroup]="detalhePasseiosClienteForm" class="col-lg-12">
        <div class="col-lg-12 posts-list" align="center">
          <div class="section-top-border">
            <h2><output name="cidade">Jericoacoara - Ceará</output></h2>
            <div class="row gallery-item">

              <div class="col-md-6">
                <a href="assets/img/elements/lagoa-paraiso-ce.jpg" class="img-pop-up">
                  <div class="single-gallery-image" style="background: url(assets/img/elements/lagoa-paraiso-ce.jpg);"></div>
                </a>
              </div>
              <div class="col-md-6">
                <a href="assets/img/elements/dunas-por-do-sol.jpg" class="img-pop-up">
                  <div class="single-gallery-image" style="background: url(assets/img/elements/dunas-por-do-sol.jpg);"></div>
                </a>
              </div>
              <div class="col-md-6">
                <a href="assets/img/elements/pedra-furada.jpg" class="img-pop-up">
                  <div class="single-gallery-image" style="background: url(assets/img/elements/pedra-furada.jpg);"></div>
                </a>
              </div>
              <div class="col-md-6">
                <a href="assets/img/elements/buraco-azul-ce.jpeg" class="img-pop-up">
                  <div class="single-gallery-image" style="background: url(assets/img/elements/buraco-azul-ce.jpeg);"></div>
                </a>
              </div>
            </div>
          </div>

          <div class="single-post">
            <div class="blog_details" align="left">
              <h2>Informações do passeio:</h2>
              <p><i class="fa fa-map-signs"></i> Nome do Passeio: <output name="descricao">Litoral Leste - Jericoacara</output></p>
              <p><i class="fa fa-map-marker"></i> Descrição do Passeio Contratado: <output name="descricao">Pedra Furada, Buraco Azul, Lagoa do Paraíso, Dunas do Pôr do Sol e Árvore da Preguiça</output></p>
              <p><i class="fa fa-user"></i> Guia contratado(a): <output name="guia">Maria Tereza Buarque</output></p>
              <p><i class="fa fa-calendar"></i> Data: <output name="data">25/04/2021</output></p>
              <p><i class="fa fa-hourglass-half" aria-hidden="true"></i> Duração: <output name="duracao">8hrs</output></p>
              <p><i class="fa fa-map"></i> Tipo de Passeio: <output name="tipoPasseio">Sol e Praia</output></p>
              <p><i class="fa fa-globe" aria-hidden="true"></i> Roteiro: <output name="roteiro">Fixo</output></p>
              <p><i class="fa fa-credit-card" aria-hidden="true"></i> Valor Pago:R$ <output name="valor">250,00</output></p>
              <p><i class="fa fa-location-arrow"></i> Ponto de Encontro: <output name="endereco">Praça Central</output></p>
              <p><i class="fa fa-check-square" aria-hidden="true"></i> Status: <output name="status">Á iniciar</output></p>
            </div>
          </div>

          <div class="navigation-top">
            <div class="navigation-area">
              <div class="row">
                <div
                  class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                  <div class="thumb">
                    <a href="#">
                      <img class="img-fluid" src="assets/img/post/porto-seguro-ba.jpg" alt="">
                    </a>
                  </div>
                  <div class="arrow">
                    <a href="#">
                      <span class="lnr text-white ti-arrow-left"></span>
                    </a>
                  </div>
                  <div class="detials">
                    <p>Viagem Anterior</p>
                    <a href="#">
                      <h4><output name="anterior">Porto Seguro</output></h4>
                    </a>
                  </div>
                </div>
                <div
                  class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                  <div class="detials">
                    <p>Próxima Viagem</p>
                    <a href="#">
                      <h4><output name="proxima">Chapada das Mesas</output></h4>
                    </a>
                  </div>
                  <div class="arrow">
                    <a href="#">
                      <span class="lnr text-white ti-arrow-right"></span>
                    </a>
                  </div>
                  <div class="thumb">
                    <a href="#">
                      <img class="img-fluid" src="assets/img/post/chapada-das-mesas.jpg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ================ detalhe passeios cliente end ================= -->
