<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/contact_hero.jpg">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap text-center">
                      <h2>Roteiro Personalizado</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- slider Area End-->
<!--================Contratacao Personalizado  Area =================-->
<section class="contact-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-tittle text-center">
                  <h4><span>Hey, Guia</span></h4>
                  <h2>Vamos realizar o sonho de mais um Wanderlusteiro? </h2>
              </div>
              <form  method="post" id="personalizado" novalidate="novalidate">

                  <div class="col-lg-12" align="text-center">
                      <h3>Informações da contratação:</h3>
                      <div class="row">

                          <div class="col-lg-10 offset-lg-12">
                              <div class="form-group">
                                  <p><i class="fa fa-map-signs" aria-hidden="true"></i> Nome do Passeio:
                                      <input class="form-control valid" name="nomePasseio" id="nomePasseio" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Informe o passeio. Ex: Lado leste Jeri'" placeholder="Informe o passeio. Ex: Lado leste Jeri">
                              </div>
                          </div>
                          <div class="col-md-2 offset-lg-12">
                              <div class="form-group">
                                  <p><i class="fa fa-hourglass-half" aria-hidden="true"></i> Duração:
                                      <input class="form-control valid" name="duracao" id="duracao" type="time">
                              </div>
                          </div>
                          <div class="col-lg-12 offset-lg-12">
                              <div class="form-group">
                                  <p><i class="fa fa-map-marker"></i> Descrição do Passeio:
                                      <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Decreva informações do Passeio.'" placeholder="Decreva informações do Passeio."></textarea>
                                  </p>
                              </div>
                          </div>
                          <div class="col-lg-12 offset-lg-12">
                              <div class="form-group">
                                  <p><i class="fa fa-user"></i> Cliente:
                                      <input class="form-control valid" name="cliente" id="cliente" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nome do Cliente'" placeholder="Nome do Cliente">
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-3 offset-lg-12">
                              <div class="form-group">
                                  <p><i class="fa fa-calendar"></i> Data:
                                      <input class="form-control valid" name="data" id="data" type="date">
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-2 offset-lg-12">
                              <div class="form-group">
                                  <p><i class="fa fa-credit-card" aria-hidden="true"></i> Valor:
                                      <input class="form-control valid" name="valor" id="valor" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'R$250,00'" placeholder="R$250,00">
                                  </p>
                              </div>
                          </div>
                          <div class="col-lg-7 offset-lg-12">
                              <div class="form-group">
                                  <p><i class="fa fa-info-circle"></i> Tipo de Passeio:
                                      <input class="form-control valid" name="tipoPasseio" id="tipoPasseio" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tipo de Passeio. Ex: Sol e Praia'" placeholder="Tipo de Passeio. Ex: Sol e Praia">
                                  </p>
                              </div>
                          </div>
                          <div class="col-lg-4 offset-lg-12">
                              <div class="form-group">
                                  <p><i class="fa fa-globe" aria-hidden="true"></i> Roteiro:
                                      <input name="roteiro"  id="roteiro" type="checkbox">
                                      <label for="personalizado">Personalizado</label>
                                  </p>
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-4 offset-lg-12" align="center">
                              <button type="submit" class="button button-contactForm boxed-btn" onclick="aprovacao()">Enviar para aprovação do Cliente</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
