<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
       [ngStyle]="{backgroundImage:'url(../../assets/img/hero/contact_hero.jpg)'}">
    <div class="container" >
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Passeios Anteriores</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!--================Section Area =================-->
<section class="blog_area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <h4><span>Hey, Wanderlusteiro(a)</span></h4>
          <h2>Bateu saudade de suas viagens? Aqui estão algumas para recordar!</h2>
        </div>
      </div>
    </div>
    <form  [formGroup]="passeiosAnterioresForm" (ngSubmit)="onSubmit()" >
      <div class="row">
        <div class="col-lg-14 mb-10 mb-lg-6" >
          <div class="blog_left_sidebar" >
            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img rounded-0" src="assets/img/blog/porto-seguro-ba.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>{{passeiosAnteriores.dataPasseio}}</h3>
                  <p><output name="mes">{{passeiosAnteriores.dataPasseio}}</output></p>
                </a>
              </div>

              <div class="blog_details">
                <a class="d-inline-block">
                  <h2>{{passeiosAnteriores.cidadePasseio}}</h2>
                </a>
                <p><i class="fa fa-calendar"></i> Data:{{passeiosAnteriores.dataPasseio}}</p>
                <p><i class="fa fa-user"></i> Guia contratado:{{passeiosAnteriores.nomeGuia}}</p>
                <p><i class="fa fa-map"></i> Tipo de Passeio: {{passeiosAnteriores.tipoPasseio}}</p>
                <p><i class="fa fa-map-marker"></i> Passeios Feitos: {{passeiosAnteriores.descricaoPasseio}}</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i> Roteiro: {{passeiosAnteriores.roteiro}}</p>
                <p><i class="fa fa-credit-card" aria-hidden="true"></i> Valor Pago: R${{passeiosAnteriores.valor}}</p>
                <p><i class="fa fa-comments" aria-hidden="true"></i> Avaliação:{{passeiosAnteriores.avaliacao}}</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img rounded-0" src="assets/img/blog/RJ.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>{{passeiosAnteriores.dataPasseio}}</h3>
                  <p><output name="mes">{{passeiosAnteriores.dataPasseio}}</output></p>
                </a>
              </div>

              <div class="blog_details">
                <a class="d-inline-block">
                  <h2>{{passeiosAnteriores.cidadePasseio}}</h2>
                </a>
                <p><i class="fa fa-calendar"></i> Data:{{passeiosAnteriores.dataPasseio}}</p>
                <p><i class="fa fa-user"></i> Guia contratado:{{passeiosAnteriores.nomeGuia}}</p>
                <p><i class="fa fa-map"></i> Tipo de Passeio: {{passeiosAnteriores.tipoPasseio}}</p>
                <p><i class="fa fa-map-marker"></i> Passeios Feitos: {{passeiosAnteriores.descricaoPasseio}}</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i> Roteiro: {{passeiosAnteriores.roteiro}}</p>
                <p><i class="fa fa-credit-card" aria-hidden="true"></i> Valor Pago: R${{passeiosAnteriores.valor}}</p>
                <p><i class="fa fa-comments" aria-hidden="true"></i> Avaliação:{{passeiosAnteriores.avaliacao}}</p>
              </div>
            </article>

          </div>
        </div>
      </div>
    </form>
    <div class="col-lg-8 mb-5 mb-lg-0">
      <a href="passeios.html">
        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                type="submit">Próximas Trips</button>
      </a>
    </div>
  </div>

</section>
<!--================passeios anteriores end  =================-->
